.container.form-elements.form-elements--1
    div.form-elements__column
        +input_simple('email','Email','text field', 'default')
        +input_simple('input--active', '', 'text field', 'hover/focus')(value='This is pretty awesome')
        +input_dropdown('dropdown', 'Сколько гостей', 'dropdown', '')
        +input_simple('mask-date', 'ДД.ММ.ГГГГ', 'masked text field')
        +input_range('date-dropdown', 'date dropdown', 'date dropdown')
        +filter_date('some-filter', 'filter date dropdown')
        +subscription('some-subscription', 'Email', 'subscription text field')

    div.form-elements__column
        h3.checkbox-tilte='checkbox buttons'
        +checkbox('some-checkbox', 'Можно курить', 'first-group', 'first-group-1')
        +checkbox('some-checkbox', 'Можно c питомцами', 'first-group', 'first-group-2')
        +checkbox('some-checkbox', 'Можно пригласить гостей (до 10 человек)', 'first-group', 'first-group-3')

        h3.radio-title.form-elements__title='radio buttons'
        .radio
            +radiobox('some-radio', 'Мужчина', 'group-1', 'group-1-1')
            +radiobox('some-radio', 'Женщина', 'group-1', 'group-1-2')
        
        h3.toggle-title.form-elements__title="toggle"
        +toggle('some-toggle', 'Получать спецпредложения', 'toggle-1')
        +toggle('some-toggle', 'Получать спецпредложения', 'toggle-2')

        h3.like-title.form-elements__title='like button'
        +like('some-like-1 ', 2)
        +like('some-like-2 like--clicked', 12)

        h3.stars.form-elements__title='rate button'
        .stars-wrapper
            +stars('some-stars', 4)
            +stars('some-stars', 5)


    div.form-elements__column
        +range('some-range', 'range slider', 5000, 10000, '') ]

        h3.buttons-title='buttons'
        .btns-wrapper
            +btn_type_one('some-btn-type-one', 'click me')
            +btn_type_one('btn-type-one--hover', 'click me')
            +btn_type_two('some-btn-type-two', 'click me')
            +btn_type_two('btn-type-two--hover', 'click me')
            +btn_type_three('some-btn-type-three', 'click me')
            +btn_type_three('btn-type-three--hover', 'click me')
        +btn_type_four('some-btn-type-hour', 'Перейти к оплате')
        h3.pagination-title.form-elements__title='pagination'
        +pagination('some-pagination', 15, '1 - 12 из 100+ вариантов аренды')


.container.form-elements.form-elements--2
    div.form-elements__column
        +input_dropdown('some-dropdown-quests', '2 спальни, 2 кровати...', 'dropdown', 'default',)
        +input_dropdown_quests('some-dropdown-quests', 'Удобства...', 'dropdown', 'expended', 0)
        
        
    div.form-elements__column
        +input_dropdown_quests('some-dropdown-quests', 'Удобства...', 'dropdown', 'expended', 1)
    div.form-elements__column
        +input_dropdown_quests('some-dropdown-quests', 'Удобства...', 'dropdown', 'expended', 2)

.container.form-elements.form-elements--3
    .form-elements__column
        +checkbox_list(
            'some-checkbox-dropdown--1', 
            'expandable checkbox list',
            ['текст 1'],
            rich=false)
        +checkbox_list(
        'some-checkbox-dropdown--2 ', 
        'expandable checkbox list',
        ['завтрак', 'письменный стол', 'Стул для кормления', 'Кровати', 'Телевизор', 'Шампунь', 'Телeвизор', 'Шaмпунь'],
        rich=false)
    
    .form-elements__column
        h3.rich-checkbox-title='rich checkbox buttons'
        +rich_checkbox(
            'some-rich-checkbox',
            'Широкий коридор',
            'Ширина коридоров в номере не менее 91 см.',
            'rich-checkbox-1', 'rich-checkbox-1')
        +rich_checkbox(
            'some-rich-checkbox',
            'Помощник для инвалидов',
            'На 1 этаже вас встретит специалист  и проводит до номера.',
            'rich-checkbox-2', 'rich-checkbox-2')
    
    .form-elements__column
        +bullet_list(
            'some-bullet-list-1', 
            'bullet list',
                ['Нельзя с питомцами',
                 'Нельзя с питомцами',
                 'Время прибытия — после 13:00, а выезд до 12:00'])

.container.form-elements.form-elements--4
    .form-elements__column
        +plus('some-plus--1', 'Комфорт', 'шумопоглащающие средства', './assets/img/dynamic/smile.svg')
        +plus('some-plus--2', 'Удобство', 'Окно в кадой из спален', './assets/img/dynamic/building.svg')
    .form-elements__column 
        +review(
            'some-review--1', 
            'Мурад Сарафанов', 
            'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.', 
            './assets/img/dynamic/avatar-1.svg',
            '2021-10-07')