
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Components
    body 


        .container.first-block
            ul.colors
                li.colors__item.colors__item--1
                    .colors__item-color
                    .colors__item-text
                        h3='Dark Shade 100%'
                        span="#1F2041"
                li.colors__item.colors__item--2
                    .colors__item-color
                    .colors__item-text
                        h3='Dark Shade 100%'
                        span="#1F2041"
                li.colors__item.colors__item--3
                    .colors__item-color
                    .colors__item-text
                        h3='Dark Shade 100%'
                        span="#1F2041"
                li.colors__item.colors__item--4
                    .colors__item-color
                    .colors__item-text
                        h3='Dark Shade 100%'
                        span="#1F2041"
                li.colors__item.colors__item--5
                    .colors__item-color
                    .colors__item-text
                        h3='Dark Shade 100%'
                        span="#1F2041"
                li.colors__item.colors__item--6
                    .colors__item-color
                    .colors__item-text
                        h3='Dark Shade 100%'
                        span="#1F2041"
                li.colors__item.colors__item--7
                    .colors__item-color
                    .colors__item-text
                        h3='Dark Shade 100%'
                        span="#1F2041"

            .font-styles 
                h1.font-styles__style='This one is the sub-section or widget title'
                    span="H1"
                h2.font-styles__style='Next one is the item title inside widgets'
                    span="H2"
                h3.font-styles__style='this is a label or cta text'
                    span="H3"
                span.font-styles__style='This is the body text which is used for most of the design, like paragraphs, lists, etc.'
                    span="Body"
        
        .container.form-elements 
            