.container.first-block
    ul.colors
        li.colors__item.colors__item--1
            .colors__item-color
            .colors__item-text
                h3='Dark Shade 100%'
                span="#1F2041"
        li.colors__item.colors__item--2
            .colors__item-color
            .colors__item-text
                h3='Dark Shade 75%'
                span="#1F2041"
        li.colors__item.colors__item--3
            .colors__item-color
            .colors__item-text
                h3='Dark Shade 50%'
                span="#1F2041"
        li.colors__item.colors__item--4
            .colors__item-color
            .colors__item-text
                h3='Dark Shade 25%'
                span="#1F2041"
        li.colors__item.colors__item--5
            .colors__item-color
            .colors__item-text
                h3='Dark Shade 5%'
                span="#1F2041"
        li.colors__item.colors__item--6
            .colors__item-color
            .colors__item-text
                h3='Purple'
                span="#BC9CFF"
        li.colors__item.colors__item--7
            .colors__item-color
            .colors__item-text
                h3='Green'
                span="#6FCF97"

    .font-styles 
        h1.font-styles__style='This one is the sub-section or widget title'
            span="H1"
        h2.font-styles__style='Next one is the item title inside widgets'
            span="H2"
        h3.font-styles__style='this is a label or cta text'
            span="H3"
        span.font-styles__style='This is the body text which is used for most of the design, like paragraphs, lists, etc.'
            span="Body"

    